---
import MainLayout from "../../layouts/MainLayout.astro";---
<MainLayout>
    <div class="h-svh border-2">
        <iframe class="-mt-[48px] h-[calc(100%+48px)]" src="https://apricot-gargoyle-c17.notion.site/ebd/1f3ceed56c458196be61d5a2ec548831" width="100%" frameborder="0" allowfullscreen />
    </div>
</MainLayout>